@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
ul {
  list-style: none;
  display: flex;
}

/*header*/
#header {
  height: 100px;
  width: 100%;
  background-color: #110f12;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
#header ul li a {
  color: #ffbf00;
  text-decoration: none;
  padding-top: 12px;
  -webkit-transition: 0.5s;
}
#header a:hover {
  /*
    options 

  border-top: 1px solid #f45409;
  color: #f45409; 
  
  border-top: 1px solid #f95f00;
  color: #f95f00;
   */
  border-top: 1px solid #ffff00;
  color: #ffff00;
}
#logo {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  flex-basis: 30%;
}
.navbar ul {
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.navbar a {
  font-size: 1.6rem;
}
/*end of header*/

/*home page*/
.background {
  height: 660px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-size: cover;
  background-size: 100%;
}
.milesDavis {
  background-image: url("../img/milesdavis.jpg");
}
#content {
  display: flex;
}
#piano {
  height: 400px;
  background-image: url("../img/jazzpiano.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}
#whatis {
  font-size: 1.3rem;
  flex: 1;
  text-align: justify;
  padding: 15px;
}
#whatis h3 {
  margin: 10px;
}
.herbieHancock {
  background-image: url("../img/herbie-hancock.jpeg");
}
/*end of home page*/

/*history*/
#history {
  display: flex;
  justify-content: center;
}
.historyLesson {
  flex-basis: 90%;
}

/*end of history*/

/*theory*/
#wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
#harmony {
  flex-basis: 90%;
  font-size: 1.3rem;
  text-align: justify;
}
#harmony h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.chords {
  margin-bottom: 3rem;
}
/*end of theory*/

/*footer*/
#footer {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #110f12;
}
/*end of footer*/
