@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  text-align: justify;
}
ul {
  list-style: none;
  display: flex;
}
p {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}
h2 {
  font-size: 1.5rem;
}
input {
  font-size: 1rem;
  padding: 10px;
  border: none;
  width: 100%;
}
/*header*/
#header {
  height: 100px;
  width: 100%;
  background-color: #110f12;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}
#header ul li a {
  color: #ffbf00;
  padding-top: 12px;
  transition: 0.5s;
}
#header a:hover {
  border-top: 1px solid #ffff00;
  color: #ffff00;
}
#logo {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  flex-basis: 30%;
}
.navbar ul {
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.navbar a {
  font-size: 1.6rem;
}
/*end of header*/
/*home page*/
.background {
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-size: cover;
  background-size: 100%;
}
.milesDavis {
  background-image: url("../img/milesdavis.jpg");
}
#content {
  display: flex;
}
#piano {
  background-image: url("../img/jazzpiano.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}
#whatis {
  flex: 1;
  padding: 15px;
}
#whatis h3 {
  margin: 10px;
}
.herbieHancock {
  background-image: url("../img/herbie-hancock.jpeg");
}
#news h1 {
  text-align: center;
}
#news h1, #news h2 {
  margin:30px;
}
.article {
  width:90%;
  margin:0 auto;
  padding: 20px;
  border-bottom: 1px solid #7c7c7c;
  margin-bottom: 3rem;
}
.newscontent {
  display: flex;
}
.newscontent img {
  margin-right: 20px;
  width: 297px;
  height:170px;
}
/*end of home page*/
/*history*/
.one {
  background-image: url("../img/theorybackground.jpg");
}
.two {
  background-image: url("../img/richardbona.jpg");
}
#history {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.historyLesson {
  width: 90%;
  margin: 0 auto;
}
.historyLesson h1, .historyLesson h3 {
  text-align: center;
}
.historyLesson h3 {
  margin-bottom: 15px;
  font-size: 1.7rem;
}
.historyLesson p {
  margin-bottom: 2rem;
}
.album {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
.album li {
  flex-basis: 10%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.album li a {
  font-size: 1.4rem;
}
.album img {
  height: 250px;
  display:block;
  box-shadow: -13px -8px 21px -2px rgba(125,125,125,1);
  margin-bottom: 1rem;
}
#news
/*end of history*/
/*theory*/
#wrapper {
  display: flex;
  justify-content: center;
}
#harmony {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
#harmony h1 {
  text-align: center;
  margin: 20px 0px;
}
#harmony h2 {
  margin: 30px 0;
}
#harmony p {
  margin-bottom: 4rem;
}
.chords {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  align-items: center;
  border-bottom: 1px solid #7c7c7c;
}
.chords p {
  flex-basis: 70%;
  margin-bottom: 2rem;
}
.chords a {
  margin: auto;
  transform: translateY(-30%);
}
.chords a img {
  width: 100%;
  height: 100%;
}
.chords:nth-child(even) p {
  order: 2;
}
/*end of theory*/
/*about*/
#about {
  width: 90%;
  margin: 0 auto;
  /* text-align: justify; */
}
#about h1 {
  margin-left: 220px;
}
#user {
  display: flex;
}
#user img {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}
#contact {
  display: flex;
  justify-content: center;
  background-color: #a2a2a2
}
#form {
  margin: 20px 0px;
  width: 350px;
  padding: 10px;
  background-color: #7196fc;
  box-shadow: 10px 10px 15px #110f12;
}
.input {
  margin:15px;
}
#button {
  padding: 10px 15px;
  margin: 5px auto;
  width: 100%;
  text-align: center;
  transition: 0.2s;
}
#button:hover {
  box-shadow: 5px 5px 7px #646464;
}
#button:focus{
  box-shadow: 2px 2px 3px #646464;
}
.input textarea {
  min-width: 100%;
  max-width: 100%;
  height: 7rem;
  max-height: 15rem;
  min-height: 4rem;
  padding: 15px;
}
/*end of about*/
/*footer*/
#footer {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #110f12;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:2rem;
}
#footer ul {
  width: 30%;
  margin: 25px auto;
  justify-content: space-between;
}
#footer p, #footer p a  {
  color: #ffffff;
}
.fab, .fas {
  font-size: 2.2rem;
  color: #ffffff;
  transition: 0.3s;
}
.fejs:hover {
  color: #4267B2;
}
.jutjub:hover {
  color: #ff0000;
}
.githab:hover {
  color: #007C00;
}
.sajitmap:hover {
  color: #a33f6b;
}
/*end of footer*/ 