@import url('https://fonts.googleapis.com/css?family=Bitter');
* {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  box-sizing: border-box;
}
body {
    font-size: 16px;
}
ul {
  list-style: none;
  display: flex;
}
#header {
  height: 100px;
  width: 100%;
  background-color: #110f12;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}
#header ul li a {
  color: #ffbf00;
  text-decoration: none;
  padding-top: 12px;
  -webkit-transition: 0.5s;
}
#header a:hover {
  /* 
  border-top: 1px solid #f45409;
  color: #f45409; 
  
  border-top: 1px solid #f95f00;
  color: #f95f00;
   */
  border-top: 1px solid #ffff00;
  color: #ffff00;
}
#logo {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  flex-basis: 37%;
}
.navbar ul {
  justify-content: space-evenly; /* Proveri koliko browsera podrzava space-evanly */
  flex-basis: 100%;
  flex-wrap: wrap;
}
.navbar a {
  font-size: 1.6rem;
}
.background {
  height: 660px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-size: cover;
  background-size: 100%;
}
.milesDavis {
  background-image: url("../img/milesdavis.jpg");
}
.herbieHancock {
  background-image: url("../img/herbie-hancock.jpeg")
}
#content {
  display: flex;
}
#piano {
  height: 400px;
  background-image: url("../img/jazzpiano.jpg"); /* Stavljas slike url u navodnike */
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}
#whatis {
  font-size: 1.3rem;
  flex: 1;
  text-align: justify;
  padding: 15px;
}
#whatis h3{
  margin: 10px;
}